* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding-top: 2em;
}

.container {
  border: 1px solid #000;
  border-radius: 1rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 230px;
}

.screen {
  border-bottom: 1px solid #1a1a1a;
  margin: 0 auto;
  width: 12rem;
}

.screen input {
  background-color: #000;
  border: none;
  margin-bottom: 4px;
  font-size: 1rem;
  height: 3rem;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.btn-container {
  padding: 1rem 0;
}

.btn {
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  margin: 2px;
  padding: 0;
  height: 3rem;
  width: 3rem;
}

.clean {
  color: orangered;
}

.function {
  color: rgb(0, 255, 0);
}

.eq-funct {
  background-color: green;
  color: #fff;
}

.read-the-docs {
  color: #888;
}
